.masonry-blog {
    display: flex;
    height: 100%;
    align-items: stretch;

    .masonry-left {
        flex-basis: 60%;

        .post-media {
            height: 100%;
            width: 100%;
        }

        img {
            height: 36rem;
            object-fit: cover;
        }
    }

    .masonry-right {
        flex-basis: auto;
        flex-basis: 40%;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        img {
            height: 18rem;
            object-fit: cover;
        }
    }

    .main {
        .title {
            font-size: 36px;
            line-height: 42px;
        }
    }

    .masonry-full {
        flex-basis: 100%;

        img {
            height: 598px;
            object-fit: cover;
        }
    }
}

.masonry-full{
    .main {
        .blog-meta {
            .title {
                font-size: 36px;
                color: white;
                width: 80%;
            }

            .throw-line{
                width: 80%;
                border:none;
            }

            .desc{
                color: white;
                width: 50%;
            }
        }
    }
}


.blog-meta {
    .meta {
        display: flex;
        font-size: 12px;
        white-space: nowrap;

        .author {
            color: #393939;
        }

        .date {
            color: #39393999;
        }
    }
}

.masonry-box {
    position: relative;
    height: 100%;

    .tag {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 100;
        color: white;
        padding: 5px;
        border-radius: 3px;
    }

    .post-media {
        height: 100%;
        width: 100%;
    }

    img {
        height: 299px;
        object-fit: cover;
    }

  
}



@include media-breakpoint-down(md) {
    .masonry-blog {
        display: flex;
        flex-wrap: wrap;

        .masonry-left {
            flex-basis: 100%;

            img {
                height: 18rem;
            }
        }

        .masonry-right {
            flex-basis: 100%;

            img {
                height: 149px;
            }

            font-size: 10px;
        }
    }

    .masonry-box {
        img {
            height: 299px;
            object-fit: cover;
        }
    }
}