.side-tag-wrapper{
    .title{
        font-size: 28px;
        font-weight: 600;
    }

    .btn-left{
        background-color: #FFCD0499;
    }

    .btn-right{
        background-color: #FABF2C;
    }
}