.error-wrapper {
    width: 99%;
    margin: 3rem auto;
    text-align: center;
    @media (min-width: 992px) {
        width: 80%;
    }
    .error-img {
        max-width: 600px;
        width: 100%;
    }
    .back-home-btn {
        background-color: #fabf2c;
        border-radius: 8px;
    }
}
