.single-video-post-wrapper {
    &.layout-wrapper {
        margin: 30px auto;
    }

    .title-wrapper {
        margin-bottom: 30px;

        .link {
            font-weight: 800;
            font-size: 14px;
            color: rgba(57, 57, 57, 0.6);

            img {
                margin-right: 10px;
            }
        }

        .name {
            font-weight: 800;
            font-size: 36px;
            margin: 10px 0;
            color: #393939;
        }

        .desc {
            font-weight: 400;
            font-size: 14px;
            color: rgba(57, 57, 57, 0.6);
        }
    }

    .video-wrapper {
        img {
            width: 100%;
            height: auto;
        }

        .title-img {
            margin-top: 20px;
            line-height: 55px;
            font-weight: 800;
            font-size: 48px;
            text-transform: capitalize;
            color: #393939;
        }
    }

    .footer-video {
        .title-footer {
            margin-top: 60px;
            font-weight: 800;
            font-size: 36px;
            color: #233138;
        }

        .video-footer {
            display: flex;
            justify-content: space-between;
            margin: 0 -20px;

            .item {
                margin: 20px;
                flex: 1;

                img {
                    width: 100%;
                    height: 70%;
                    object-fit: cover;
                }

                .title-img {
                    margin-top: 10px;
                    font-weight: 800;
                    font-size: 24px;
                    color: #393939;
                }
            }
        }
    }

    .banner-under {
        position: relative;

        img {
            width: 100%;
            height: auto;
        }

        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            margin-right: 40px;
            font-size: 18px;
            font-weight: 800;
            padding: 10px 40px;
            background: #FFCD04;
            color: #233138;
            border: none;
            outline: none;
        }

        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            margin-left: 40px;

            div {
                font-weight: 400;
                font-size: 14px;
                color: #FFFFFF;

                &:last-child {
                    font-weight: 800;
                    font-size: 14px;
                    color: #FFA800;
                    margin-top: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .single-video-post-wrapper {
        .footer-video {
            .video-footer {
                display: block;
            }
        }
    }
}